<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>
<nav>
  <a th:href="@{/products}">Products Table</a>
  <a th:href="@{/products/new}">Add Product</a>
  <a th:href="@{/about}">About Author</a>
</nav>

<h1>Products</h1>
<button><a th:href="@{/products/new}" class="add-product">Add New Product</a></button>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.category}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <button><a th:href="@{|/products/${product.id}|}" class="btn">Details</a></button>
      <button><a th:href="@{|/products/edit/${product.id}|}" class="btn">Edit</a></button>
      <button><a th:href="@{|/products/delete/${product.id}|}"
         th:onclick="return confirm('Are you sure?')"
         class="btn btn-delete">Delete</a></button>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
